/* ************************************************ CSS RESET ************************************************ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ************************************************ Weather App Styles ************************************************ */
#weather-app {
    font-family: Arial, Helvetica, sans-serif;
        background-image: url("assets/images/beach2.jpg"); 
        height: 625px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        padding: 100px;

    p {
        padding: 10px 0;
    }

    #app {
        color: white;
        width: 800px;
        margin: 0 auto;
    }

    #app:after {
        content: "";
        display: table;
        clear: both;
    }

    #left, #right {
        padding: 25px;
        width: 50%;
        height: 435px;
    }

    /* ********************** Left component ********************** */

    #left {
        background-image: url("assets/images/beach2.jpg");
        height: 435px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px 0 0 25px;
        background-color: #80BCEA;
        width: 350px;
        float: left;

        #top {

            #the-day {
                font-size: 35px;
                font-weight: 700;
            }

            #your-city, #date {
                font-size: 18px;
            }

            #city:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        #bottom {
            font-weight: 700;
            margin-top: 100px;

            img {
                opacity: .9;
            }
            p {
                padding-bottom: 0;
            }

            #degrees {
                font-size: 50px;
            }

            #desc {
                font-size: 20px;
            }
        }
    }
    
    /* ********************** Right component ********************** */

    #right {
        border-radius: 0 25px 25px 0;
        background-color: #222933; 
        float: left;
        width: 350px;
        opacity: .9;

        #info:after {
            content: "";
            display: table;
            clear: both;
        }

        #labels {
            float: left;
            width: 50%;
            font-size: 18px;
            font-weight: 700;
        }

        #nums {
            color: lightgray;
            float: right;
            width: 50%;
            text-align: right;
        }

        #days {
            background-color: #212832;
            padding: 15px;
            margin: 40px 0;
            border-radius: 5px;
            text-align: center;
            font-weight: 700;

            #day1 {
                background-color: white;
                color: #212832;
                border-radius: 10px;
            }
            
        }
        
        #days:after {
            content: "";
            display: table;
            clear: both;
        }

        .ds {
            width: 25%;
            float: left;
        }

        #day1-abr {
            color: slategray;
            font-weight: 500;
        }

        #day2-abr, #day3-abr, #day4-abr {
            color: lightgray;
            font-weight: 500;
        }

        #btn {
            display: block;
            text-align: center;
            color: white;
            font-weight: 700;
            padding: 10px;
            border-radius: 25px;
            background-image: linear-gradient(to bottom right, #71ECF1, #5360EE);
        }
    }

}